basePath: /api/v1
definitions:
  inventory.Item:
    properties:
      expiry:
        type: string
      id:
        type: string
      name:
        type: string
      quntity:
        type: integer
      storageLocation:
        type: string
      unit:
        type: string
    type: object
  main.ShoppingItem:
    properties:
      id:
        type: string
      name:
        type: string
    type: object
  main.ShoppingItemRequest:
    properties:
      name:
        type: string
    type: object
externalDocs:
  description: OpenAPI
  url: https://swagger.io/resources/open-api/
host: shoppinglist.cosmos.cboxlab.com
info:
  contact: {}
  description: Shopping list manager
  title: Shopping List
  version: "1.0"
paths:
  /inventory:
    get:
      consumes:
      - application/json
      description: Return items in inventory
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/inventory.Item'
            type: array
      summary: Get Inventory
      tags:
      - inventory
  /shopping-list:
    delete:
      consumes:
      - application/json
      description: Delete item from shopping list
      parameters:
      - description: shopping item id
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
      summary: Delete from shopping list
      tags:
      - shopping-list
    get:
      consumes:
      - application/json
      description: Return shopping list items
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/main.ShoppingItem'
            type: array
      summary: Get Shopping List
      tags:
      - shopping-list
    post:
      consumes:
      - application/json
      description: Add item to shopping list
      parameters:
      - description: Add shopping item
        in: body
        name: shoppingItem
        required: true
        schema:
          $ref: '#/definitions/main.ShoppingItemRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
      summary: Add to shopping list
      tags:
      - shopping-list
  /shopping-list/{id}:
    post:
      consumes:
      - application/json
      description: Edit item in shopping list
      parameters:
      - description: Edit shopping item
        in: body
        name: shoppingItem
        required: true
        schema:
          $ref: '#/definitions/main.ShoppingItemRequest'
      - description: shopping item id
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: Edit shopping list
      tags:
      - shopping-list
schemes:
- https
swagger: "2.0"
