{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Shopping list manager",
        "title": "Shopping List",
        "contact": {},
        "version": "1.0"
    },
    "host": "shoppinglist.cosmos.cboxlab.com",
    "basePath": "/api/v1",
    "paths": {
        "/shopping-list": {
            "get": {
                "description": "Return shopping list items",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "shopping-list"
                ],
                "summary": "Get Shopping List",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/main.ShoppingItem"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Add item to shopping list",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "shopping-list"
                ],
                "summary": "Add to shopping list",
                "parameters": [
                    {
                        "description": "Add shopping item",
                        "name": "shoppingItem",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/main.ShoppingItemRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "delete": {
                "description": "Delete item from shopping list",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "shopping-list"
                ],
                "summary": "Delete from shopping list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "shopping item id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/shopping-list/{id}": {
            "post": {
                "description": "Edit item in shopping list",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "shopping-list"
                ],
                "summary": "Edit shopping list",
                "parameters": [
                    {
                        "description": "Edit shopping item",
                        "name": "shoppingItem",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/main.ShoppingItemRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "shopping item id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "definitions": {
        "main.ShoppingItem": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "main.ShoppingItemRequest": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "OpenAPI",
        "url": "https://swagger.io/resources/open-api/"
    }
}